<html>
  <head>
  {% block metadata %}
  <title>Livingdocs Blog</title>
  <meta name="description" content="News and opinions from the creators of the content management system livingdocs.io">
  <meta name="author" content="Livingdocs">
  {% endblock %}
  <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <!-- For now we hardcode the design to use -->
  <link rel="stylesheet" href="http://livingdocs-designs.s3.amazonaws.com/timeline/0.4.0/stylesheets/timeline.css">
  <link rel="stylesheet" href="/assets/blog.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {% block stylesheets %}{% endblock %}
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div class="livingdocs-blog-header">
      <div class="livingdocs-blog-header--inner">
        <a class="site-logo" internal href="/">
          <img src="http://www.livingdocs.io/assets/images/livingdocs-logo-inverted-57e05e61.svg">
        </a>
      </div>
    </div>
    <div class="livingdocs-blog-content">
      {% block pageContent %}
      <h1>dummy title</h1>
      <!-- child templates will add content to this -->
      {% endblock %}
    </div>
    <footer>
      <div class="footer--inner">
        <div class="wrapper">
        <ul class="social-links nav">
          <li>
            <a class="icon-text" href="https://github.com/upfrontIO" target="_blank"><i class="icon-text__icon icon icon--big fa fa-github-alt"></i> Github</a>
          </li>
          <li>
            <a class="icon-text" href="https://twitter.com/upfrontIO" target="_blank"><i class="icon-text__icon icon icon--big fa fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a class="icon-text" href="https://vimeo.com/channels/877846" target="_blank">
              <i class="icon-text__icon icon icon--big fa fa-vimeo-square"></i> Vimeo
            </a>
          </li>
        </ul>
        <ul class="footer-links nav">
          <li>
            <a href="http://livingdocs.io" target="_blank">Livingdocs</a>
          </li>
          <li>
            <a href="mailto:contact@upfront.io?subject=Livingdocs">Contact</a>
          </li>
          <li>
            <a href="http://upfront.io">Company</a>
          </li>
        </ul>
        <div class="meta-footer">
          <p class="copyright">Copyright ©2015 Upfront GmbH — All rights reserved</p>
        </div>
        </div>
      </div>
    </footer>
    {% block scripts %}
    {% endblock %}

    <script src="//use.resrc.it/0.9"></script>
    <script>
      // hack to make resrc.it work: https://github.com/upfrontIO/livingdocs-server/issues/155
      resrc.ready(function() {
        var matches = $('.resrc');
        for (var i=0; i<matches.length; i++) {
          try {
            resrc.run(matches[i]);
          } catch(e) {}
        }
      });
    </script>
  </body>
</html>
