/* Header */
.livingdocs-blog-header {
  margin-left: 50%;
}

.livingdocs-blog-header--inner {
  position: fixed;
  z-index: 1000;
  margin-left: -50vw;
  width: 100vw;
  height: 60px;
  margin-bottom: 4px;
  box-shadow: 0px 2px 1px rgba(0,0,0,.4);
  background-color: rgb(41, 185, 111);
}

.livingdocs-blog-header .site-logo {
  float: left;
  margin: 16px 0 0 15px;
}

.livingdocs-blog-header img {
  height: 29px;
}

.livingdocs-blog-content {
  padding-top: 60px;
}

/* Footer (from livingdocs.io) */
footer {
  margin-left: 50%;
}

.footer--inner {
  margin-left: -50vw;
  width: 100vw;

  height: 100px;
  padding: 2.28rem 0;
  line-height: 1.8125;
  background: #3a2f3c;
  font: 0.8rem "Helvetica Neue", sans-serif;
}

.footer--inner a {
  color: white;
}

.footer--inner .wrapper {
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 29px;
  box-sizing: content-box;
}

.wrapper .social-links {
  float: left;
}

.wrapper .footer-links {
  float: right;
}

.wrapper .nav {
  list-style: none;
  margin-bottom: 15px;
  margin-left: 0;
}

.wrapper .nav li {
  display: inline-block;
  margin-right: 15px;
}

.wrapper .meta-footer {
  clear: both;
}

.wrapper .meta-footer p {
  font-size: 0.6rem;
  color: #bbb;
  margin-left: 0;
}

/* Icons */
.icon-text > .icon-text__icon {
  margin-right: 7.25px;
}


/**
 * Set up icon font
 */
.icon {
  font-size: 16px;
  /**
   * Place the icon in a box the exact same dimensions as the icon itself.
   */
  width: 1em;
  height: 1em;
}

/**
 * Icon size modifiers.
 */
.icon--big     { font-size: 24px; }
.icon--huge    { font-size: 64px; }
.icon--large   { font-size: 128px; }
.icon--natural { font-size: inherit; }
