
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  padding: 0!important;
  max-width: none!important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  font-family: Helvetica;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin-bottom: 4px;
  z-index: 1000;
  box-shadow: 0px 2px 1px rgba(0,0,0,.4);
  background-color: rgb(41, 185, 111);
}

.header .site-logo {
  float: left;
  margin: 16px 0 0 15px;
}

.header img {
  height: 29px;
}

/* Start Page */
.teaser-list {
  position: relative;
  top: 60px;
  margin: 0;
}

.teaser-list-entry {
  height: 150px;
  width: 100%;
  list-style: none;
  background-color: #000;
  background-size: cover;
  border-bottom: 4px solid rgb(58, 47, 60);
}

.teaser-list-entry .table {
  display: table;
  width: 100%;
  background: rgba(58, 47, 60, .75); /*rgba(0,0,0,.75);*/
  -webkit-transition: all .5s ease;
}

.teaser-list-entry .table .cell {
  height: 150px;
  display: table-cell;
  vertical-align: middle;
}

.teaser-list-entry .table .cell .constrain {
  max-width: 87.5%;
  margin: auto;
}

.teaser-list-entry h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* Detail Page */
.article-wrapper {
  margin-top: 60px;
  padding: 60px 0.72222rem 0;
  max-width: 81ch;
  margin: 0 auto;
}
